
    <div class="row">
        <div class="col-sm-12">
            <table  class="table table-striped table-bordered">
                <tr class="bg-light">
                    <th>VIN (1-10)</th>
                    <th>County</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Postal Code</th>
                    <th>Model Year</th>
                    <th>Make</th>
                    <th>Model</th>
                    <th>Electric Vehicle Type</th>
                    <th>Clean Alternative Fuel Vehicle</th>
                    <th>Electric Range</th>
                    <th>Base MSRP</th>
                    <th>Legislative District</th>
                    <th>DOL Vehicle ID</th>
                    <th>Vehicle Location</th>
                    <th>Electric Utility</th>
                    <th>200 Census Tract</th>
                    
            
                </tr>
                <tr *ngFor="let v of rawData">
                    <td>{{v.VIN}}</td>
                    <td>{{v.County}}</td>
                    <td>{{v.City}}</td>
                    <td>{{v.State}}</td>
                    <td>{{v.PostalCode}}</td>
                    <td>{{v.ModelYear}}</td>
                     <td>{{v.Make}}</td>
                     <td>{{v.Model}}</td>
                    <td>{{v.ElectricVehicleType}}</td>
                    <td>{{v.CleanAlternativeFuelVehicle}}</td>
                    <td>{{v.ElectricRange}}</td>
                    <td>{{v.BaseMSRP}}</td>
                    <td>{{v.LegislativeDistrict}}</td>
                    <td>{{v.DOLVehicleID}}</td>
                    <td>{{v.VehicleLocation}}</td>
                    <td>{{v.ElectricUtility}}</td>
                    <td>{{v.CensusTract}}</td>
                   
                </tr>
            </table>
        </div>

    </div>

<div></div>